# Intellij
.idea
*.iml
*.iws
*.ipr


# Eclipse
.classpath
.project
.settings/

### NetBeans ###

/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### STS ###

.apt_generated

.classpath
.factorypath

.project

.settings

.springBeans

.sts4-cache

# Mac
.DS_Store

# Maven and build folders
log/
target/
out/